//BreakPoints
$bp-md: 768px;
$bp-lg: 1200px;

//Colors
$background-primary: #202020;
$background-secondary: #3C3C3C;
$background-header: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
$white-color: #FFFFFF;
$black-color: #000000;
$title-color-primary: #FAEB49;
$title-color-secondary: #565656;
$background-card: #FFFEF2;
