.itemContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: #7F7F7F 1px solid;
  border-radius: 9px;
  position: relative;

  & h3{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #191919;
  }
  & p{
    color: #7F7F7F;
    font-size: 20px;
  }
  & button {
    padding: 16px;
    font-size: 20px;
    background-color: #F6F6F6;
    font-family: 'Lato', sans-serif;
  }
}

.starIconContainer{
  position: absolute;
  top: 10px;
  right: 10px;

  &.favourite {
    path {
      fill: goldenrod;
    }
  }
}

.image{
  width: 300px;
  height: 300px;
}