@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer{
  background-color: $background-primary;
  padding: 53px 16px 40px 17px;

  @media (min-width: $bp-md) {
    padding: 96px 22px 35px 32px;
  }
}

.footer__social-media{
  margin-top: 113px;
  display: flex;
  justify-content: center;
  gap: 34px;

  @media (min-width: $bp-md) {
    margin-top: 60px;
  }
  @media (min-width: $bp-lg) {
    margin-top: 163px;
  }
}

.footer__rights{
  color: $white-color;
  font-size: 14px;
  font-weight: 500;
  margin-top: 21px;
  text-align: center;
}