@import "../abstracts/variables";

.good-design__container{
  height: 498px;
  padding: 0 16px;
  background-image: url("../../img/good-desigh/good-desigh-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  @media (min-width: $bp-md) {
    height: 800px;
    padding: 0 32px;
    background-image: url("../../img/good-desigh/good-desigh-tablet.png");
  }
  @media (min-width: $bp-lg) {
    background-image: url("../../img/good-desigh/good-desigh-desktop.png");
  }
}

.good-design__title{
  color: $white-color;
  font-size: 24px;
  text-align: center;

  @media (min-width: $bp-md) {
    font-size: 48px;
  }
}