@import "../abstracts/variables";

.graphics-design{
  background-color: $background-primary;
  padding: 58px 21px 93px 16px;

  @media (min-width: $bp-md) {
    padding: 82px 20px 129px 20px;
  }
}

.graphics-design__title{
  color: $white-color;
  font-size: 36px;
  padding-bottom: 28px;

  @media (min-width: $bp-md) {
    font-size: 80px;
    padding-bottom: 38px;
  }
}

.graphics-design__image{
  width: 100%;
}

.graphics-design__picture-wrapper{
  position: relative;
}

.graphics-design__wrapper{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.graphics-design__picture{
  min-width: 100%;

  @media (min-width: $bp-md) {
    min-width: 50%;
  }

  &--first{
    padding-bottom: 32px;

    @media (min-width: $bp-md) {
      padding-right: 10px;
    }

    @media (min-width: $bp-lg) {
      max-width: 514px;
      padding-right: 13px;

    }
  }

  &--second{
    @media (min-width: $bp-md) {
      padding-left: 17px;
    }

    @media (min-width: $bp-lg) {
      max-width: 514px;
      padding-left: 13px;
    }
  }
}