@import "../abstracts/variables";

.header{
  width: 100%;
  //background: $background-header;
  background: rgba(0, 0, 0, 0.40);
  padding: 27px 16px 18px 17px;
  position: fixed;
  top: 0;
  z-index: 10;

  @media (min-width: $bp-md) {
    padding: 38px 31px 18px 34px;
  }
  @media (min-width: $bp-lg) {
    padding: 41px 0 18px 0;
  }
}

.header__container{
  display: flex;
  justify-content: space-between;
}

.header__mobile-menu-btn{
  width: 56px;
  height: 56px;
  border-radius: 20px;
  border: 2px solid $white-color;
  padding: 20px;

  @media (min-width: $bp-lg) {
    display: none;
  }
}

.header__navigation{
  display: none;

  @media (min-width: $bp-lg) {
    display: flex;
    gap: 20px;
  }
}

.header__desktop-menu-btn{
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  border: 1px solid #FFF;
}