@import "../abstracts/variables";
@import "../abstracts/mixins";

.meet-alex{
  background-color: $background-primary;
  padding: 72px 17px 76px 16px;
  background-image: url("../../img/ellipse-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  
  @media (min-width: $bp-md) {
    padding: 101px 33px;
    background-image: url("../../img/ellipse_tablet.svg");
  }
  @media (min-width: $bp-lg) {
    background-image: url("../../img/ellipse_desktop.svg");
  }
}

.meet-alex__container{
  max-width: 342px;
  @include flex(flex-start, flex-start, column);
  gap: 40px;

  @media (min-width: $bp-md) {
    max-width: 540px;
  }
}

.meet-alex__title{
  font-size: 36px;
  color: $title-color-primary;

  @media (min-width: $bp-md) {
    font-size: 48px;
  }
}

.meet-alex__description{
  color: #FFF;
  font-size: 15px;
  font-weight: 500;

  @media (min-width: $bp-md) {
    font-size: 16px;
  }
}

.meet-alex__work{
  @include flex();
  gap: 14px;

  @media (min-width: $bp-md) {
    gap: 96px;
  }
}

.meet-alex__work-item{
  @include flex(flex-start, flex-start, column);

  & span:first-child{
    font-size: 36px;
    font-family: DynaPuff, sans-serif;

    @media (min-width: $bp-md) {
      font-size: 48px;
    }
  }
  & span:last-child{
    font-size: 16px;
  }
}