@import "../abstracts/variables";
@import "../abstracts/mixins";

.project{
  background-color: $background-secondary;
  padding: 52px 21px 85px 16px;
  
  @media (min-width: $bp-md) {
    padding: 52px 32px 122px 33px;
  }
  @media (min-width: $bp-lg) {
    padding: 86px 0;
  }
}

.project__card-container{
  @include flex(flex-start, flex-start, column);
  gap: 63px;

  @media (min-width: $bp-md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.project__wrapper{
  display: flex;
  gap: 40px;
}

.project__card{
  background-color: $background-card;
  padding: 16px;
  border-radius: 24px;
  
  @media (min-width: $bp-md) {
    padding: 24px;
  }
  @media (min-width: $bp-lg) {
    max-width: 100%;
  }
}

.project__image{
  width: 100%;
}

.project__card-title{
  color: $title-color-secondary;
  font-size: 32px;
  font-weight: 600;
  padding: 22px 0 20px 0;

  &--secondary{
    font-size: 24px;
  }
  @media (min-width: $bp-md) {
    font-size: 32px;
  }
}

.project__card-description{
  font-size: 14px;
  color: $black-color;
  font-weight: 700;

  &--secondary{
    font-weight: 500;
  }
  @media (min-width: $bp-md) {
    font-size: 16px;
  }
}

.project__card--second{
  padding: 12px;
  
  @media (min-width: $bp-md) {
    padding: 20px;
  }
}

.project__card-tab-desk{
  display: none;
  background-color: $background-card;
  padding: 20px;
  border-radius: 24px;
}

.project__card-tablet{

  @media (min-width: $bp-md) {
    display: block;
  }
}

.project__card-desktop{

  @media (min-width: $bp-lg) {
    display: block;
  }
}