@import "../abstracts/variables";

.unleash-banner{
  height: 800px;
  background: $background-header;
  padding-left: 21px;
  position: relative;

  @media (min-width: $bp-md) {
    padding-left: 34px;
  }
}

.unleash-banner__title{
  color: $white-color;
  position: absolute;
  bottom: 149px;
  font-size: 48px;
  max-width: 326px;
  
  @media (min-width: $bp-md) {
    font-size: 80px;
  }
  @media (min-width: $bp-lg) {
    max-width: 846px;
    bottom: 119px;
  }
}