//COLORS
$background-header-top: #10BBD5;
$background-header-bottom: #FFF;
$background-primary: #4C394E;
$background-main: #EEEEEF;
$background-items: #F8FDFE;
$titles-color: #1F1F1F;
$author-color: #8E8E8E;
$black-color: #000000;
$white-color: #F8FDFE;
$border-color: #A8A8A8;
$price-color: #E90000;
$active-button: #4D762D;
$badge-hit: #4200FF;
$badge-new: #AF39E7;
$badge-discount: #EA33C0;