@import "../abstracts/variables";
@import "../abstracts/mixins";

.bestsellers__title{
  padding-top: 36px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-color;
}

.bestsellers__container{
  @include flex();
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 0 120px;
}

.product-card{
  width: 306px;
  height: 512px;
  background-color: $background-items;
  padding: 32px 32px;
  border: 1px solid $border-color;
  & img{
    padding: 0 32px;
  }
}

.product-card__title{
  border-bottom: 1px solid $border-color;
  margin-top: 16px;
}

.product-card__author{
  color: $author-color;
  margin-bottom: 8px;
}

.product-card__price{
  color: $price-color;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.product-card__price--disabled{
  display: inline-block;
  padding-left: 22px;
  color: $author-color;
  text-decoration-line: line-through;
}