@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer{
  width: 100%;
  background-color: $background-primary;
}

.footer__container{
  height: 88px;
  @include flex(space-between, center);

  & span{
    color: $white-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}