@import "../abstracts/variables";
@import "../abstracts/mixins";

.header{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-top{
  height: 72px;
  background-color: $background-header-top;
}

.header-top__container{
  height: 72px;
  @include flex(space-between, center);
}

.logotype{
  color: $white-color;
  font-size: 24px;
  @include flex(flex-start, center);
}

.header-top__basket {
  @include flex(flex-start, center);

  & p{
    color: $white-color;
    font-size: 16px;
  }
}

.header-bottom{
  height: 32px;
  background-color: $background-header-bottom;
}

.header-bottom__container{
  height: 32px;
  @include flex(space-between, center);
  color: $black-color;

  & ul{
    @include flex();
    gap: 40px;
  }
}