.container {
    width: 80%; /* Змініть ширину відповідно до вашого дизайну */
    margin: 0 auto; /* Це центрує контейнер на сторінці */
    text-align: center; /* Центрує текст всередині контейнера */
    padding: 20px; /* Задає внутрішній відступ */
    background-color: #f0f0f0; /* Колір фону контейнера */
    border-radius: 10px; /* Округлені кути контейнера */
}

.container h1 {
    font-size: 32px; /* Розмір шрифту для заголовку h1 */
    color: #333; /* Колір тексту заголовку h1 */
}

.container h4 {
    font-size: 18px; /* Розмір шрифту для заголовку h4 */
    color: #555; /* Колір тексту заголовку h4 */
}

.container p {
    font-size: 16px; /* Розмір шрифту для параграфу */
    color: #777; /* Колір тексту параграфу */
}

.container ul {
    list-style-type: none; /* Забирає маркери списку */
    padding: 0; /* Забирає зовнішній відступ у списку */
}

.container li {
    font-size: 14px; /* Розмір шрифту для пунктів списку */
    color: #999; /* Колір тексту пунктів списку */
    margin-bottom: 5px; /* Задає внутрішній відступ між пунктами списку */
}

body{background:#ECF0F1}

.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
}

.load_hide{
    display: none;
}
