@import "../abstracts/variables";

h1{
  color: $titles-color;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

h2{
  font-weight: 700;
  line-height: normal;
}

h3{
  color: $titles-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

h4, li, p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h5{
  font-weight: 500;
  line-height: 32px;
}

button{
  font-weight: 400;
  line-height: 24px;
}