@import "../abstracts/variables";

*{
  box-sizing: border-box;
}

body{
  font-family: Cabin, sans-serif;
  font-style: normal;
}

.wrapper{
  width: 1296px;
  margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button{
  border: none;
  font: inherit;
  background-color: transparent;
}

main{
  background-color: $background-main;
}
