@import url('https://fonts.cdnfonts.com/css/lato');

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 102px;
}
.search {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  padding: 9px 30px;
  border-radius: 8px;

  & input{
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background-color: #F6F6F6;
  }
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.headerNavigation{
  display: flex;

  & li{
    padding-right: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #807D7E;
  }

}

.cartContainer{
  & span{
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #807D7E;
  }
}
.iconWithCount {
  display: flex;
  align-items: center;
  margin-right: 20px;
  &span {
    margin-left: 5px;
    font-size: 18px;
  }
}

.iconWithCount:last-child {
  margin-right: 0;
}

.active{
  opacity: 0.4;
}