@import url('https://fonts.cdnfonts.com/css/roboto');

.modalWindow{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent{
  width: 560px;
  //height: 558px;
  z-index: 1;
  background: white;
  padding: 56px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}
.background {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.modalHeader{
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1{
    margin-top: 81px;
    text-align: center;
  }
}
.img{
  width: 276px;
  height: 140px;
  background-color: #D9D9D9;
}
.modalClose{
  position: absolute;
  top: 24px;
  right: 24px;
}
.modalBody{

  & p{
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #7F7F7F;
    text-align: center;
  }
}

.modalFooter{
  display: flex;
  justify-content: center;
  //justify-content: space-between;
  margin-top: 64px;
}

.firstBtn{
  padding: 16px 51px 16px 51px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #8A33FD;
  color: #FFFFFF;
}

.secondBtn{
  padding: 16px 51px 16px 51px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #3C4242;
  color: #8A33FD;
  margin-left: 90px;
}

