@import "../abstracts/variables";

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button{
  border: none;
  font: inherit;
  background-color: transparent;
}

.wrapper{
  @media (min-width: $bp-lg) {
    max-width: 1050px;
    margin: 0 auto;
  }
}