@import "../abstracts/variables";

h1, h2{
  font-family: DynaPuff, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p{
  font-family: Manrope, sans-serif;
  font-style: normal;
  line-height: normal;
}

span{
  color: $white-color;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}