@import "../abstracts/variables";
@import "../abstracts/mixins";

//Project button
.arrow-btn{
  position: relative;

  &::after{
    content: url("../../img/icons/arrow-up.svg");
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    top: 36px;
    right: 36px;
    background-color: $white-color;
    padding: 10px;
    box-sizing: border-box;
  }
 }


//Footer button
.call-btn{
  display: block;
  @include flex(center, center);
  gap: 20px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  border-radius: 139px;
  padding: 12px 33px;

  @media (min-width: $bp-md) {
    gap: 45px;
    padding: 20px 40px;
  }
  @media (min-width: $bp-lg) {
    padding: 35px 40px;
    max-width: 914px;
    margin-left: 73px;
  }
}

.call-btn__title{
  color: $white-color;
  font-size: 15px;

  @media (min-width: 400px) {
    font-size: 20px;
  }

  @media (min-width: $bp-md) {
    font-size: 44px;
  }
}

.call-btn__description{
  color: $white-color;
  font-size: 15px;
  font-weight: 500;
  padding-top: 4px;
  position: relative;

  @media (min-width: $bp-md) {
    font-size: 24px;
    padding-top: 17px;
  }

  &::after{
    content: url("../../img/icons/footer-arrow-tablet.svg");
    position: absolute;
    padding: 4px 24px;

    @media (min-width: $bp-md) {
      content: url("../../img/icons/footer-arrow.svg");
    }
  }
}