@import "../abstracts/variables";

.figure-star{
  &::before{
    content: url("../../img/graphics-design/Soft Star.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $bp-md) {
      content: url("../../img/graphics-design/Soft Star-tablet.svg");
    }
    @media (min-width: $bp-lg) {
      content: url("../../img/graphics-design/Soft Star-desktop.svg");
    }
  }
}

.figure-butterfly{
  position: relative;

  &::before{
    content: url("../../img/graphics-design/Butterfly.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $bp-md) {
      content: url("../../img/graphics-design/Butterfly-tablet.svg");
    }
    @media (min-width: $bp-lg) {
      content: url("../../img/graphics-design/Butterfly-desktop.svg");
    }
  }
}

.figure-asterisk{
  position: relative;

  &::before{
    content: url("../../img/graphics-design/Asterisk 1.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $bp-md) {
      content: url("../../img/graphics-design/Asterisk 1-tablet.svg");
    }
    @media (min-width: $bp-lg) {
      content: url("../../img/graphics-design/Asterisk 1-desktop.svg");
    }
  }
}