@import "../abstracts/variables";

.product-card__badge-container{
  position: absolute;
  display: flex;
  gap: 4px;
}

.product-card__badge{
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $white-color;

  &--hit{
    background-color: $badge-hit;
  }
  &--new{
    background-color: $badge-new;
  }
  &--discount{
    background-color: $badge-discount;
  }
}