@import "../abstracts/variables";
@import "../abstracts/mixins";

//Header button
.header-top__btn{
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("../../img/cart_icon.png");
  margin-left: 8px;
  padding: 0 19px;
}

.header-top__btn-label{
  position: absolute;
  top: 12px;
  color: $black-color;
  font-size: 12px;
  line-height: 10px;
}

//Bestsellers button
.product-card__btn{
  width: 242px;
  height: 40px;
  background-color: $background-primary;
  font-size: 16px;
  color: $white-color;
  margin-top: 24px;
  border-radius: 4px;
}

.product-card__btn--active{
  background-color: $active-button;
}

//Chat button
.chat-btn{
  position: absolute;
  right: 0;
  bottom: 10%;
  background-color: $background-header-top;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  @include flex(center, center)
}

.chat-btn-fixed{
  position: fixed;
}