.postsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid blue;
    border-radius: 20px;
    max-width: 500px;
}

.nameContainer {
    display: flex;
    justify-content: space-between;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
}

.deleteBtn {
    background-color: orange;
}

.editBtn {
    background-color: purple;
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
